<p>{{valores}} tabla works!</p>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-12'>
            <table class = 'table'>
                <tr>
                    <th>Valor 1</th>
                    <th>Valor 2</th>
                    <th>Valor 3</th>
                    <th>Valor 4</th>
                </tr>
                <tr>
                    <td>{{valores[0]}}</td>
                    <td>{{valores[1]}}</td>
                    <td>{{valores[2]}}</td>
                    <td>{{valores[3]}}</td>
                </tr>
            </table>
        </div>   
    </div>
</div>
    
