<h2>Reactivos: <small>dinámicos</small></h2>
<hr>



<form autocomplete="off">

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" placeholder="Nombre de la persona...">
            <span class="form-text text-danger">
                      Este campo es obligatorio</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito..."> <!-- (keyup.enter)="a=1"> -->
                <button class="btn btn-outline-primary" type="button"><!-- (click)="a=1"> -->
                    Agregar</button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <!-- <div class="input-group mb-1">
                <input class="form-control">
                <button class="btn btn-outline-danger" type="button" (click)="a=1">Eliminar</button>
            </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary float-end"><!-- (click)="a=1"> -->
                Guardar</button>
        </div>
    </div>

</form>

<!-- 
<span>Persona</span>
<pre>{{persona | json}}</pre> -->